.bg{
    background-color: #F5FFFA;
    padding: 100px 100px;
    font-family: 'League Spartan', sans-serif;
}

.baner{
    background-color:seagreen;
    padding: 200px 200px;
}

.show-dokumen{
    height: 800px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}