@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

.nav {
  font-family: "Libre Baskerville", serif;
  font-size: medium;
  font-weight: bolder;
}

.effect {
  display: block;
  text-decoration: none;
}

.effect:hover:not(.active) {
  font-weight: bold;
  cursor: pointer;
  color: black;
}
